* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.1rem;
}

input {
  width: 100%;
  padding: 5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 40%;
}

main h1{
  text-align: center;
}