:root {
  --cor-1: #fff;
  --cor-2: #000;
  --cor-3: #B8B1AE;
  --cor-p1: #bc7a61;
  --cor-p2: #fee8df;
}

.cor-1{
  color: var(--cor-1);
}
.cor-2{
  color: var(--cor-2);
}

.cor-3{
  color: var(--cor-3);
}

.cor-p1{
  color: var(--cor-p1);
}
.cor-p2{
  color: var(--cor-p2);
}

