<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/style.css">
  <title>Agenda</title>
</head>
<body>
  <main>
    <h1>Formulario</h1>
    <form action="">
      <label for="nome">Nome</label>
      <input type="text" id="nome" >
      <label for="numero">Numero</label>
      <input type="text" id="numero">
      <button id="btnEnvio" type="button">Enviar</button>
    </form>
  </main>
  <script src="../static/js/cliente.js"></script>
  <script src="../static/js/agendamentos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
  <script src="../static/js/mascaras.js"></script>
</body>
</html>